<html>
<head>
	<title></title>


</head>
<body>
<div class="table-responsive">

<table class="table table-bordered">

	<h1>Welcome  <%= user %> </h1>

	

	<form class = "form-inline" role = "form" action='/topic/search' method=POST>

	<div class = "form-group">
		<input type='submit' value='New Topic' />
		<input class = "form-control" type = 'text' name='title' placeholder='search'>"
	</div>

	</form>


	<thead>
		<tr>
			<th>Topic</th>
			<th># Views</th>
			<th>Author</th>
		</tr>
	</thead>
	<!-- <br/> -->

	<tbody>
		<% for (var i=0; i < list.length; i++ ){ %>
			<tr>
			<a href='/comment/<%=list[i]._id%>'>
				<td> <%= list[i].title %>  </td>
				<td> <%= list[i].comments.length %> </td>
				<td> <%=list[i].author %> </td>
			</a>
			</tr>
			<!-- <br/> -->
		<%} %>
	</tbody>
</table>




</div>
</body>
</html>